.players-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.players-button--blue {
  background-color: #2B5DF8;
}

.players-button--small {
  padding: 4px 32px;
}
