.players-footer {
  background-color: black;
  color: white;

  &__wrapper {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    @media screen and (min-width: 768px) {
      max-width: 78rem;
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &__hours {
    @media screen and (min-width: 768px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    span {
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__address {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    span {
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__login {
    padding-top: 1rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    padding-top: 1rem;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
  }
}
