.players-game {
  max-width: 400px;
  border: 1px solid #2B5DF8;
  border-radius: 5px 5px 0 0;

  &__header {
    background-color: #2B5DF8;
    font-weight: bold;
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;
    padding-left: 0.5rem;
  }

  &__date {
    display: flex;
  }

  &__calendar {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: none;
      width: 18px !important;
      height: 18px;
    }
  }

  &__day {
    display: inline-block;
    padding-top: 0.15rem;
    padding-left: 0.5rem;
  }

  &__clock {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: none;
      width: 18px !important;
      height: 18px;
    }
  }

  &__open-time {
    display: flex;
    text-align: right;
    justify-content: end;
    padding-right: 0.5rem;
  }

  &__time {
    padding-top: 0.15rem;
    padding-left: 0.35rem;
  }

  &__content {
    padding: 0.25rem 0.5rem;
  }

  &__current {
    background-color: #f2eda8;
  }

  &__content--games,
  &__content--info {
    margin-top: 0.5rem;
  }

  &__content--staff {
    margin-top: 0.5rem;
    p {
      margin-top: 0;
    }
  }

  &__content--food {
    margin-top: 0.5rem;
    p {
      margin-top: 0;
    }
  }

  &__reserve {
    text-align: center;
  }
}

.players-games-block,
.players-tournaments-block,
.players-promotions-block {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (min-width: 1296px) {
    max-width: 1296px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1600px;
  }

  .owl-carousel .owl-stage {
    @media screen and (min-width: 768px) {
      max-width: inherit;
      display: flex;
      gap: 2rem;
      padding: 2.5rem 0;
    }
  }

  .item,
  .players-game {
    height: 100%;
  }

  .players-game {
    margin: 0 5px;
  }

}
.players-games-block {
  .owl-carousel .owl-stage {
    gap: 1rem;
    padding:0;
  }
}
