details {
  padding: .5em .5em 0;
}

details:hover summary {
  background-color: #4e4e4e;
  background-image: url(../images/mobile-arrow-down-w.svg),linear-gradient(transparent,transparent);
  color: white;
}

details[open] summary {
  background-color: #4e4e4e;
  background-image: url(../images/mobile-arrow-down-w.svg),linear-gradient(transparent,transparent);
  color: white;
}

summary {
  background-color: #eee;
  background-image: url(../images/mobile-arrow-down.svg),linear-gradient(transparent,transparent);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 13px;
  color: black;
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

summary::after {
  content: "";
  display: block;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: calc(50% - .5rem);
  width: 1rem;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
