<div class="players-contained-width">
  {% include '@players_theme/templates/content/game.html.twig' with {
    'game_day': game_info.game_day,
    'open_time': game_info.open_time,
    'games': game_info.games,
    'info': game_info.info,
    'food': game_info.food,
    'floor': game_info.floor,
    'dealers': game_info.dealers,
    'date': game_info.date,
    'current': game_info.current
  } %}
</div>
