<div class="players-header__logo">
  <img src="/{{ theme_path }}/images/logo.png" />
</div>

<div class="players-header__content">
  ALWAYS PLAYERS ALWAYS A GAME <br />
  BAD BEAT OVER $ 20000 <br />
  647-549-2036 OPEN EVERYDAY
</div>
