<div class="players-footer__wrapper">
  <div class="players-footer__hours">
    <span><u>Hours</u></span><br />
    Monday - Thursday: 7pm - 3am<br />
    Friday: 7pm - 4am<br />
    Saturday: 1pm - 4am<br />
    Sunday: 2pm - 3am<br />
    Stat holidays: 2pm - 3am
  </div>
  <div class="players-footer__address">
    <span><u>Address</u></span><br />
    Player's Inc.<br />
    62 Mack Avenue<br />
    Scarborough, ON<br />
  </div>
  <div class="players-footer__copyright">
    Copyright © {{ 'now' | date('Y') }} PLAYER'S INC. /toronto aces poker club
  </div>
</div>
