<header class="players-header" role="banner">
  <div class="section layout-container clearfix">
    <div class="players-header__logo">
      <div class="players-header__logo-image">
      <img src="/{{ theme_path }}/images/logo.png" />
      </div>
      <div class="players-header__phone">
        <strong>Phone: 647-549-2036</strong>
      </div>
    </div>

    <div class="players-header__menu">
      {{ primary_menu }}
    </div>
    <div class="players-header__secondary-menu">
      {{ secondary_menu }}
    </div>
  </div>
</header>
